.results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    border: 2px solid white;
    border-radius: 15px;
    width: 60vw;
    font-size: 2rem;
    background-color: white;
    position: absolute;
    top: 60vh;
    font-style: italic;
    font-weight: 300;
}
.head-word {
    position: absolute;
    top: 25vh;
    right: 35vw;
    border: 5px solid red;
    background: yellow;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
}
.results {
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 25px;
}