body {
    background-color: #5650f4;
}
.form-wrapper {
    font-size: 18px;
}
div, a {
    color: black;
}
main {
    background-color: #d2d2d2;
}
form {
    padding: 25px;
}
label {
    color: white;
}
#user-word {
    border: 2px solid #5650f4;
    border-bottom: 1px solid white;
    background-color: #5650f4;
    text-align: center;
    color: white;
}
::placeholder {
    color: white;
    opacity: .7;
}
select {
    background-color: #d9d7ed;
    height: 40px;
    width: 60vw;
    text-align: center;
}

#options-label {
    color: rgba(255, 255, 255, 0.7);
}

#search-button {
    color: #5650f4;
    background-color: #5650f4;
    border: 2px solid #5650f4;
    background-image: url('../search.png');
    background-repeat: no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}