.wrapper {
    display: flex;
    flex-direction: column;
}
.title {
    align-self: center;
    z-index: 10;
    margin-top: -1rem;
    border: 3px solid white;
    background-color: white;
    border-radius: 15px;
    font-size: 1.5rem;
}
.results {
    font-size: 1.4rem;
    padding: 1rem;
}