.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #5650f4;
    margin: 0 auto;
    position: relative;
}
.title {
    align-self: center;
    z-index: 9;
    margin-top: -1rem;
    border: 3px solid white;
    background-color: white;
    border-radius: 15px;
    font-size: 1.5rem;
    position: absolute;
}
.results {
    font-size: 1.4rem;
    padding: 2rem;
    background-color: #d9d7ed;
    min-height: 100vh;
}
.input-word {
    color: white;
    padding: 0 0 35px 0;
    background-color: #5650f4;
    font-style: italic;
    font-size: 3rem;
    font-weight: 400;
}

@media only screen and (min-width: 768px){
    .title {
        font-size: 2rem;
    }
    .results {
        font-size: 1.7rem;
        padding: 2.4rem;
    }
}