@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');
.App {
  text-align: center;
  background-color: #5650f4;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: white;
}

img {
  height: 150px;
  width: 150px;
}